logs/
node_modules/
developing_data/
dist/
env/
credentials/
exports/
uploads/
walletStorage/
build/
live-build-17-08-2025/


.DS_Store

.env


*.zip
*.pdf

package-lock.json
yarn.lock


.wwebjs_cache
.wwebjs_auth
